body {
    color: black;
    background-color: white;
    font-size: 16px;
}

#header-nav {
    background-color: gray;
    border: 1px solid black;
    border-radius: 0;
}

.navbar-brand h1 {
    font-size: 1em;
    color: black;
    font-weight: bold;
    margin: auto;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
}

#nav-list li{
    border-top: 1px solid black;
}

#nav-list a{
    color: black;
}

#nav-list a:hover {
    background: lightgray;
}

#collapsable-nav {
    border: none;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: white;
}

section {
    background-color: lightgray;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#first, #second, #third {
    padding-left: 5px;
    padding-right: 5px;
}